<!DOCTYPE html>
<html th:replace="~{layout :: maincontent(~{::section})}" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>flashcard show</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<section style="width: 60%; margin-left: 10em">
    <form th:object="${questionnaire}">
        <fieldset disabled>
            <div class="form-group row">
                <label class="col-md-2" for="title">Title:</label>
                <div class="col-md-10">
                    <input type="text" id="title" class="form-control" th:field="*{title}" th:errorclass="fieldError"
                           autofocus="true"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2" for="description">Description:</label>
                <div class="col-md-10">
                    <input type="text" id="description" class="form-control" th:field="*{description}"
                           th:errorclass="fieldError"/>
                </div>
            </div>
        </fieldset>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a class="btn btn-primary" href="?update">Modify</a>
                </div>
                <div class="col-sm">
                    <a class="btn btn-default" th:href="@{/questionnaires}">Close</a>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>